:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(241, 247, 255);
}

h1 {
  margin: 50px 0px 20px 0px;
  font-size: 40px;
  text-align: center;
  color: rgb(77, 93, 109);
}

h2,
h3 {
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

input {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: lightsteelblue solid 1px;
}

button {
  border-radius: 6px;
  border: .5px solid transparent;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: slategrey;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: lightsteelblue;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}